
  <div class="ui  top attached segments">
    <div class="ui segment clearing">

        <div class="ui header large left floated ">
          {{title}}
        </div>
        <button class="ui circular icon button small right floated" {{action "exit"}}>
          <i class="close icon"></i>
        </button>


    </div>
    <div class="ui secondary segment">
      {{yield}}
    </div>
  </div>
