#visualizer-iframe {
  border: 0px;
  display: block;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}

.ui.header.topheader {
  margin: 30px 0 40px 0;
}

.ui.visible.right.sidebar ~ .fixed, .ui.visible.right.sidebar ~ .pusher {
  transform: none;
}

.ui.card:hover {
  transform: scale(1.03);
}
