<form {{action "save" on="submit"}}>

  <p>
    <label>name
      {{input value=model.name}}
    </label>
  </p>

  <p>
    <label>viewjson
      {{input value=model.viewjson}}
    </label>
  </p>

  <input type="submit" value="Save">

</form>
