<div class="ui grid">
  <form class="ui form six wide" {{action "save" on="submit"}}>

    <div class="field">
      <label>Name</label>
      {{input value=model.name}}
    </div>
    <div class="field">
      <label>ViewJSON</label>
      {{input value=model.viewjson}}
    </div>


    {{#copy-button
      clipboardText=model.viewjson
      success='success'
      error='error'
      class='ui button'
    }}
      Copy View to Clipboard
    {{/copy-button}}

    <input class="ui button primary" type="submit" value="Save">

    {{yield}}

  </form>
</div>
