{{#fullscreen-subwindow title="Edit Dashboard" exit="cancel"}}
      {{partial "views/form"}}

      <br>
      <button {{action 'delete' model}}  class="ui button">Delete</button>
{{/fullscreen-subwindow}}
