<div class="ui grid">
  <form class="ui form six wide" {{action "save" on="submit"}}>

    <div class="field">
      <label>Name</label>
      {{input value=model.name}}
    </div>

    <div class="field">
      <label>Description</label>
      {{input value=model.description}}
    </div>


  <input class="ui button primary" type="submit" value="Save">
  {{yield}}

 </form>
</div>
