<h2> machines index </h2>
<b>total machines: {{model.length}}</b>

<ul>
{{#each model as |machine|}}
  <li>
    {{#link-to 'machines.show' machine}}
      {{machine.name}} {{machine.description}}
    {{/link-to}}
    |
    {{#link-to 'machines.edit' machine}} Edit {{/link-to}}
    <a href="#" {{action "delete" machine}}> Delete </a>
  </li>
{{/each}}
</ul>

{{#link-to 'machines.new'}}
New machine
{{/link-to}}
