<div class="ui grid">
  <form class="ui form six wide" {{action "save" on="submit"}}>

    <div class="field">
      <label>Name</label>
      {{input value=model.name}}
    </div>

    <div class="field">
      <label>Type</label>
      {{input value=model.type}}
    </div>


  <input class="ui button primary" type="submit" value="Save">

 </form>
</div>
