{{#fullscreen-subwindow title="Edit Connection" exit="cancel"}}
      {{partial "connections/form"}}
      <button {{action 'delete' model}}  class="ui button">Delete</button>
{{/fullscreen-subwindow}}
